/*
 * Stylesheet for the widget. Designed for finto.fi. *
 *   */
#sksAccordion.concept-widget {
  margin-top: .2rem;
}

#sksAccordion.concept-widget > .panel {
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

#sks-description-text-block {
  background-color: var(--secondary-light-color);
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 0.85rem;
}

#sks {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  height: 400px;
  overflow: hidden;
}

#sks > * {
  height: 100%;
  width: 100%;
}

#headingSks {
  background-color: var(--white-color);
}

#headingSks .accordion-button {
  background-color: var(--white-color);
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--dark-color);
}

#sksPanel {
  border-top: 1px solid var(--light-color);
  background-color: var(--white-color);
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

#sksPanel a {
  font-size: 1rem;
  font-weight: lighter;
}

#sksPanel a:hover {
  text-decoration: underline;
}
